@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 100px 50px;

}
figcaption {
    display: inline-block;
    margin: 16px 10px 16px 10px;
    justify-self: center;
    align-self: center;
    vertical-align: top;
    font-weight: 600;
}
figure #avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
span {
    display: block;

}
p.quote {
    font-size: 18px;
    font-weight: 600;
    word-spacing: 5px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}

p.info {
    word-spacing: 1px;
    line-height: 18px;
    
}
.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    min-width: 95%;

} 
.grid-one {
    grid-column: 1/ span 2;
}
 .card {
    border-radius: 12px;
    padding: 20px 30px;
    /* object-fit: cover; */
    
 }
 .grid-one .card {
    background: hsl(263, 55%, 52%) url(./images/bg-pattern-quotation.svg)  no-repeat;
    background-position: 85% 2%;
 }

.grid-one #avatar img {
    border: 2px solid hsl(0, 0%, 81%);
}

.grid-one figcaption {
    color: rgba(232, 225, 243, 0.85);
}

.grid-one span {
    color: rgba(195, 172, 232, 0.55);
}
.grid-one p.quote{
    color: rgba(232, 225, 243, 0.85);
}
.grid-one p.info {
    color: rgba(195, 172, 232, 0.55);
}
/* section grid-two */

.grid-two .card {
    background-color: hsl(217, 19%, 35%);
    padding-bottom: 35px;

}
.grid-two {
    grid-column: 3;
}

.grid-two #avatar img {
    border: 2px solid hsl(0, 0%, 81%);
}

.grid-two figcaption {
    color: rgba(232, 225, 243, 0.85);
}

.grid-two span {
    color: rgba(195, 172, 232, 0.55);
}

.grid-two p.quote {
    color: hsl(0, 0%, 75%);
}

.grid-two p.info {
    color: hsl(0, 0%, 60%);
}
/* section grid-three */

.grid-three .card {
    background-color:hsl(0, 0%, 100%);
    padding-bottom: 45px;

}
.grid-three {
    grid-column: 1;
}
.grid-three figcaption {
    color:hsl(0, 0%, 50%);
        
}

.grid-three span {
    color:hsl(0, 0%, 81%); ;
        
}

.grid-three p.quote {
    color:hsl(0, 0%, 50%);
}

.grid-three p.info {
    color: hsl(0, 0%, 70%);
}
/* section grid-four */
.grid-four .card {
    background-color:hsl(219, 29%, 14%) ;
}
.grid-four {
    grid-column: 2/4;
}

.grid-four #avatar img {
    border: 2px solid hsl(263, 55%, 52%) ;
}
.grid-four figcaption {
    color: hsl(0, 0%, 81%);
}
.grid-four span {
    color:hsl(0, 0%, 70%) ;
}

.grid-four p.quote {
    color: hsl(0, 0%, 81%);
}

.grid-four p.info {
    color:hsl(0, 0%, 70%) ;
}

/* section grid-five */
.grid-five .card {
    background-color: hsl(0, 0%, 100%);
}
.grid-five {
    grid-column: 4;
    grid-row: 1/ span 3;
}

.grid-five figcaption {
    color:hsl(0, 0%, 50%);
}

.grid-five span {
    color: hsl(0, 0%, 81%);
}

.grid-five p.quote {
    color: hsl(0, 0%, 50%);
}

.grid-five p.info {
    color:hsl(0, 0%, 70%);

}
@media screen and (min-width:769px)and (max-width:1024) { 
    .grid-container {
        display: grid;
        width: 90%;
    
 } 
 @media screen and(min-width:426px) and(max-width:768px) {  

    .grid-container {
        display:grid;
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        
    }
    .grid-one {
        grid-column: 1/ 4;
        grid-row: 1;
    }
    
 }

    
 }